/*custom*/
body{
	position: relative;
}
.temp {
	min-height: 900px;
	padding-top: 50px;
}
div.row.hist {
	margin: 0;
	padding: 0;
}
.homepg div.row{
	text-align: center;
	margin-top: 10%;
}
/*ul.testing li {position:absolute;}*/
/*
div.testing {margin-top:140px; float:left;}*/